html, body {
    height: 100%;
}

.main {
    width: 10rem;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-container, .swiper-wrapper, .swiper-slide {
    width: 100%;
    height: 100%;
}

.slide1 {
    width: 100%;
    height: 100%;
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
}

.slide2, .slide3,.slide4,.slide5,.slide6,.slide7 {
    width: 100%;
    height: 100%;
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
}

.swiper-slide img, .slide1 .name {
    position: absolute;
    opacity: 0;
}

.slide1 img:nth-child(1),.slide7 img.s1 {
    width: 5.8rem;
    height: 5.8rem;
    left: 50%;
    margin-left: -2.9rem;
    top: 50%;
    margin-top: -2.83rem;
    z-index: 10;
}

.slide7 img.s2{
    width: 4.99rem;
    height: 4.75rem;
    left: 50%;
    margin-left: -2.45rem;
    top: 50%;
    margin-top: -2.35rem;
    z-index: 12;
}
.slide1 img:nth-child(2){
    width: 4.2rem;
    height: 4.2rem;
    left: 50%;
    margin-left: -2.07rem;
    top: 50%;
    margin-top: -2.05rem;
    z-index: 12;
}

.slide1 img:nth-child(3) {
    width: 5.16rem;
    height: 2.79rem;
    bottom: 3rem;
    left: 50%;
    margin-left: -2.58rem;
}

.slide1 img:nth-child(4) {
    width: 6.88rem;
    height: 3.72rem;
    left: 50%;
    margin-left: -3.44rem;
    top: 2rem
}

.slide1 img:nth-child(5) {
    width: 8.96rem;
    height: 8.02rem;
    left: .7rem;
    top: 4.8rem;
    z-index: 0;
}

.slide1 img:nth-child(6) {
    width: 7rem;
    height: 7rem;
    right: 0.2rem;
    bottom: 3.5rem;
    z-index: 0;
}

.slide1 .name {
    bottom: 2rem;
    right: 2rem;
    color: #47b4f8;
    z-index: 999;
    font-size: .6rem;
    border-radius: .2rem;
    opacity: 0;
}

.slide1 .nameBorder {
    width: 2rem;
    height: 1rem;
    bottom: 1.7rem;
    right: 1.7rem;
    z-index: 999;
    border: 2px dashed #47b4f8;
    padding: .1rem .2rem;
    border-radius: .2rem;
    position: absolute;
    opacity: 0;
}

.slide2 img:nth-child(1) {
    top: 3rem;
    left: 3rem;
    width: 3.03rem;
    height: 0.74rem;
}

.slide2 img:nth-child(2) {
    top: 6rem;
    left: 3rem;
    width: 5.23rem;
    height: 0.76rem;
}

.slide2 img:nth-child(3) {
    left: 3rem;
    top: 9rem;
    width: 5.26rem;
    height: 0.78rem;
}

.slide2 img:nth-child(4) {
    left: 3rem;
    top: 12rem;
    width: 5.98rem;
    height: 0.75rem;
}

.slide2 img:nth-child(5),.slide2 img:nth-child(6),.slide2 img:nth-child(7),.slide2 img:nth-child(8) {
    left: .9rem;
    top: 2.3rem;
    width: 2.02rem;
    height: 1.52rem;
}
.slide2 img:nth-child(6){
    top: 5.3rem;
}
.slide2 img:nth-child(7){
    top: 8.3rem;
}
.slide2 img:nth-child(8){
    top: 11.3rem;
}

.slide3 img:nth-child(1),.slide4 img:nth-child(1),.slide5 img:nth-child(1),.slide6 img:nth-child(1) {
    top: 2.4rem;
    left: 1.9rem;
    width: 6.39rem;
    height: 3.48rem;
}

.slide3 img:nth-child(2),.slide4 img:nth-child(2),.slide5 img:nth-child(2),.slide6 img:nth-child(2) {
    left: 3.5rem;
    top: 3.3rem;
    width: 2.6rem;
    height: 0.66rem;
}
.slide3 img:nth-child(3),.slide4 img:nth-child(3),.slide5 img:nth-child(3),.slide6 img:nth-child(3) {
    left: 1.2rem;
    top: 4.75rem;
    width: 8rem;
    height: 11rem;
}
.slide3 img:nth-child(4){
    left: 2.4rem;
    top: 7.5rem;
    width: 3.63rem;
    height: 0.71rem;
}
.slide3 img:nth-child(5){
    left: 2.4rem;
    top: 8.5rem;
    width: 5.41rem;
    height: 0.71rem;
}
.slide3 img:nth-child(6){
    left: 2.4rem;
    top: 9.5rem;
    width: 3.12rem;
    height: 0.71rem;
}
.slide3 img:nth-child(7){
    left: 2.4rem;
    top: 10.5rem;
    width: 5.41rem;
    height: 0.57rem;
}
.slide3 img:nth-child(8){
    left: 2.4rem;
    top: 11.5rem;
    width: 4.29rem;
    height: 0.61rem;
}
.slide3 img:nth-child(9){
    left: 2.4rem;
    top: 12.5rem;
    width: 5.12rem;
    height: 0.61rem;
}
.slide3 img:nth-child(10){
    left: 2.4rem;
    top: 13.5rem;
    width: 7rem;
    height: 9.9rem;
}
.slide4 img:nth-child(2){
    left: 3.7rem;
    top: 3.3rem;
    width: 4.41rem;
    height: 0.64rem;
}
.slide4 img:nth-child(4){
    left: 2.2rem;
    top: 7.8rem;
    width: 5.94rem;
    height: 2.33rem;
}
.slide4 img:nth-child(5){
    left: 2.2rem;
    top: 10.8rem;
    width: 5.97rem;
    height: 2.29rem;
}
.slide5 img:nth-child(2){
    left: 3.1rem;
    top: 3.3rem;
    width: 4.31rem;
    height: 0.65rem;
}
.slide5 img:nth-child(4){
    left: 2.1rem;
    top: 7.5rem;
    width: 5.94rem;
    height: 0.63rem;
}
.slide5 img:nth-child(5){
    left: 2.1rem;
    top: 8.2rem;
    width: 5.97rem;
    height: 2.31rem;
}
.slide5 img:nth-child(6){
    left: 2.1rem;
    top: 10.8rem;
    width: 5.97rem;
    height: 0.63rem;
}
.slide5 img:nth-child(7){
    left: 2.1rem;
    top: 11.5rem;
    width: 5.97rem;
    height: 2.4rem;
}
.slide6 img:nth-child(2){
    left: 2.6rem;
    top: 3.3rem;
    width: 5.03rem;
    height: 0.63rem;
}
.slide6 img:nth-child(4){
    left: 2.3rem;
    top: 7.5rem;
    width: 1.16rem;
    height: 0.71rem;
}
.slide6 img:nth-child(5){
    left: 2.3rem;
    top: 7.5rem;
    width: 5.25rem;
    height: 1.48rem;
}
.slide6 img:nth-child(6){
    left: 2.3rem;
    top: 9.4rem;
    width: 1.19rem;
    height: 0.69rem;
}
.slide6 img:nth-child(7){
    left: 2.3rem;
    top: 9.4rem;
    width: 5.32rem;
    height: 1.52rem;
}
.slide6 img:nth-child(8){
    left: 2.3rem;
    top: 11.2rem;
    width: 1.21rem;
    height: 0.65rem;
}
.slide6 img:nth-child(9){
    left: 2.3rem;
    top: 11.2rem;
    width: 5.13rem;
    height: 2.22rem;
}
.slide7 img.s1{
    margin-top: -5rem;
    margin-left: -2.9rem;
}
.slide7 img.s2{
    margin-top: -4.50rem;
    margin-left: -2.42rem;
}

#page1 img, #page1 .name,#page1 .nameBorder {
    opacity: 1;
}

#page1 img:nth-child(1) {
    animation: bounceInLeft 1.3s 0.3s both;
    -webkit-animation: bounceInLeft 1.3s 0.3s both;
}

#page1 img:nth-child(2) {
    animation: rollIn .6s .7s both;
    -webkit-animation: rollIn .6s .7s both;
}

#page1 img:nth-child(4) {
    animation: bounceInDown .8s .9s both;
    -webkit-animation: bounceInDown .8s .9s both;
}

#page1 img:nth-child(3) {
    animation: bounceInUp 1s 1.2s both;
    -webkit-animation: bounceInUp 1s 1.2s both;
}

#page1 img:nth-child(5) {
    animation: bounceIn 1s 1.5s infinite both;
    -webkit-animation: bounceIn 1s 1.5s infinite both;
}

#page1 img:nth-child(6) {
    animation: bounceIn 1s 1.5s infinite both;
    -webkit-animation: bounceIn 1s 1.5s infinite both;
}

#page1 .name, #page1 .nameBorder {
    animation: rotateIn 1s 1.8s both;
    -webkit-animation: rotateIn 1s 1.8s both;
}

#page1 .name {
    animation: bounceIn 1s 2.2s both;
    -webkit-animation: bounceIn 1s 2.2s both;
}

.out {
    animation: arrowOut 1s  infinite both;
    -webkit-animation: arrowOut 1s  infinite both;
}
@-webkit-keyframes arrowOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;bottom:20px
    }
}
@keyframes arrowOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;bottom:20px
    }
}

#page2 img, #page3 img,#page4 img,#page5 img,#page6 img,#page7 img{
    opacity: 1;
}
#page2 img:nth-child(5) {
    animation: fadeIn 1s  both;
    -webkit-animation: fadeIn 1s  both;
}
#page2 img:nth-child(1) {
    animation: bounceInRight 1s .7s both;
    -webkit-animation: bounceInRight 1s .7s both;
}
#page2 img:nth-child(6){
    animation: bounceIn 1s 1.4s both;
    -webkit-animation: bounceIn 1s 1.4s both;
}
#page2 img:nth-child(2) {
    animation: bounceInRight 1s 2.1s both;
    -webkit-animation: bounceInRight 1s 2.1s both;
}
#page2 img:nth-child(7){
    animation: bounceIn 1s 2.8s both;
    -webkit-animation: bounceIn 1s 2.8s both;
}
#page2 img:nth-child(3) {
    animation: bounceInRight 1s 3.5s both;
    -webkit-animation: bounceInRight 1s 3.5s both;
}
#page2 img:nth-child(8){
    animation: bounceIn 1s 4.2s both;
    -webkit-animation: bounceIn 1s 4.2s both;
}
#page2 img:nth-child(4) {
    animation: bounceInRight 1s 4.9s both;
    -webkit-animation: bounceInRight 1s 4.9s both;
}

#page2 img:nth-child(9){
    animation: bounceIn 1s 5.6s both;
    -webkit-animation: bounceIn 1s 5.6s both;
}
#page3 img:nth-child(1),#page4 img:nth-child(1),#page5 img:nth-child(1),#page6 img:nth-child(1) {
    animation: bounceInDown 1s 0.3s both;
    -webkit-animation: bounceInDown 1s 0.3s both;
}

#page3 img:nth-child(2),#page4 img:nth-child(2),#page5 img:nth-child(2),#page6 img:nth-child(2) {
    animation: bounceInDown 1s 0.5s both;
    -webkit-animation: bounceInDown 1s 0.5s both;
}
#page3 img:nth-child(3),#page4 img:nth-child(3),#page5 img:nth-child(3),#page6 img:nth-child(3){
    animation: bounceInUp 1s 1s both;
    -webkit-animation: bounceInUp 1s 1s both;
}
#page3 img:nth-child(4){
    animation: flipInX 1s 1.5s both;
    -webkit-animation: flipInX 1s 1.5s both;
}
#page3 img:nth-child(5){
    animation: flipInX 1s 2.1s both;
    -webkit-animation: flipInX 1s 2.1s both;
}
#page3 img:nth-child(6){
    animation: flipInX 1s 2.5s both;
    -webkit-animation: flipInX 1s 2.5s both;
}
#page3 img:nth-child(7){
    animation: flipInX 1s 2.9s both;
    -webkit-animation: flipInX 1s 2.9s both;
}
#page3 img:nth-child(8){
    animation: flipInX 1s 3.3s both;
    -webkit-animation: flipInX 1s 3.3s both;
}
#page3 img:nth-child(9){
    animation: flipInX 1s 3.7s both;
    -webkit-animation: flipInX 1s 3.7s both;
}
#page4 img:nth-child(3){
    animation: zoomIn 1s 1.5s both;
    -webkit-animation: zoomIn 1s 1.5s both;
}
#page4 img:nth-child(4){
    animation: zoomIn 1s 2.5s both;
    -webkit-animation: zoomIn 1s 2.5s both;
}
#page4 img:nth-child(5){
    animation: zoomIn 1s 3s both;
    -webkit-animation: zoomIn 1s 3s both;
}
#page5 img:nth-child(4){
    animation: fadeInLeft 1s 1.5s both;
    -webkit-animation: fadeInLeft 1s 1.5s both;
}
#page5 img:nth-child(5){
    animation: fadeInRight 1s 2.5s both;
    -webkit-animation: fadeInRight 1s 2.5s both;
}
#page5 img:nth-child(6){
    animation: fadeInLeft 1s 3.5s both;
    -webkit-animation: fadeInLeft 1s 3.5s both;
}
#page5 img:nth-child(7){
    animation: fadeInRight 1s 4.5s both;
    -webkit-animation: fadeInRight 1s 4.5s both;
}
#page6 img:nth-child(4){
    animation: rotateIn 1s 1.5s both;
    -webkit-animation: rotateIn 1s 1.5s both;
}
#page6 img:nth-child(5){
    animation: lightSpeedIn 1s 2.5s both;
    -webkit-animation: lightSpeedIn 1s 2.5s both;
}
#page6 img:nth-child(6){
    animation: rotateIn 1s 3.5s both;
    -webkit-animation: rotateIn 1s 3.5s both;
}
#page6 img:nth-child(7){
    animation: lightSpeedIn 1s 4.5s both;
    -webkit-animation: lightSpeedIn 1s 4.5s both;
}
#page6 img:nth-child(8){
    animation: rotateIn 1s 5.5s both;
    -webkit-animation: rotateIn 1s 5.5s both;
}
#page6 img:nth-child(9){
    animation: lightSpeedIn 1s 6.5s both;
    -webkit-animation: lightSpeedIn 1s 6.5s both;
}
#page7 img.s1{
    animation: bounceInDown 1s  both;
    -webkit-animation: bounceInDown 1s  both;
}
#page7 img.s2{
    animation: bounceInDown 1s .2s both;
    -webkit-animation: bounceInDown 1s .2s both;
}

.slide7 .thankyou{
    position: absolute;
    left: 1.8rem;
    bottom: 4.8rem;
    width: 6.53rem;
    height: 3.76rem;opacity: 0;
}
.slide7 .thankyou img{  position: absolute;bottom: 0; }
.slide7 .thankyou img.thank1{
    top:1rem;
    left: 0;
    width: 2.03rem;
    height: 2.39rem;
}
.slide7 .thankyou img.thank2{
    left: 0;
    width: 0.77rem;
    height: 0.75rem;
}
.slide7 .thankyou img:nth-child(3){
    left: 0.6rem;
    width: 1rem;
    height: 0.75rem;
}
.slide7 .thankyou img:nth-child(4){
    left: 1.4rem;
    width: 0.81rem;
    height: 0.75rem;
}
.slide7 .thankyou img:nth-child(5){
    left: 2.2rem;
    width: 0.98rem;
    height: 0.75rem;
}
.slide7 .thankyou img:nth-child(6){
    left: 2.9rem;
    width: 0.94rem;
    height: 0.75rem;
}
.slide7 .thankyou img:nth-child(7){
    left: 4.1rem;
    width: 0.65rem;
    height: 0.75rem;
}
.slide7 .thankyou img:nth-child(8){
    left: 4.7rem;
    width: 0.57rem;
    height: 0.75rem;
}
.slide7 .thankyou img:nth-child(9){
    left: 5.2rem;
    width: 0.7rem;
    height: 0.75rem;
}
#page7 img,#page7 .thankyou{
    opacity: 1;
    animation: fadeIn 0.1s 1s both;
    -webkit-animation: fadeIn 0.1s 1s both;
}
#page7 img.thank2{
    animation: opcaty1 0.1s 1.5s both;
    -webkit-animation: opcaty1 0.1s 1.5s both;
}
#page7 .thankyou img:nth-child(3){
    animation: opcaty1 0.1s 1.7s both;
    -webkit-animation: opcaty1 0.1s 1.7s both;
}
#page7 .thankyou img:nth-child(4){
    animation: opcaty1 0.1s 1.9s both;
    -webkit-animation: opcaty1 0.1s 1.9s both;
}
#page7 .thankyou img:nth-child(5){
    animation: opcaty1 0.1s 2.1s both;
    -webkit-animation: opcaty1 0.1s 2.1s both;
}
#page7 .thankyou img:nth-child(6){
    animation: opcaty1 0.1s 2.3s both;
    -webkit-animation: opcaty1 0.1s 2.3s both;
}
#page7 .thankyou img:nth-child(7){
    animation: opcaty1 0.1s 2.4s both;
    -webkit-animation: opcaty1 0.1s 2.4s both;
}
#page7 .thankyou img:nth-child(8){
    animation: opcaty1 0.1s 2.5s both;
    -webkit-animation: opcaty1 0.1s 2.5s both;
}
#page7 .thankyou img:nth-child(9){
    animation: opcaty1 0.1s 2.6s both;
    -webkit-animation: opcaty1 0.1s 2.6s both;
}
#page7 .thank1{
    -webkit-animation: thank1 1.2s 1.5s both;
    animation: thank1 1.2s 1.5s both;
}
@-webkit-keyframes thank1 {
    0%{
        left: 0;top:1rem;
    }
    20%{
        top:1.3rem
    }
    40%{
        top:1rem
    }
    60%{
        top:1.5rem
    }
    70%{
        top:1rem
    }
    80%{
        top:1.5rem
    }
    90%{
        top:1.3rem
    }
    100%{
        left: 5.8rem;top:1rem
    }
}
@keyframes thank1 {
    0%{
        left: 0;top:1rem;
    }
    20%{
        top:1.3rem
    }
    40%{
        top:1rem
    }
    60%{
        top:1.5rem
    }
    70%{
        top:1rem
    }
    80%{
        top:1.5rem
    }
    90%{
        top:1.3rem
    }
    100%{
        left: 5.8rem;top:1rem
    }
}
@-webkit-keyframes opcaty1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes opcaty1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*三角*/
.out {
    position: absolute;
    width: 24px;
    height: 14px;
    left: 50%;
    bottom: 10px;
    z-index: 150;
    margin-left: -7px;
    /*opacity: 0;*/
}

.pre-wrap {
    width: 24px;
    height: 14px;
    position: relative;
    -webkit-animation: start 1.5s infinite both;
    -moz-animation: start 1.5s infinite both;
    animation: start 1.5s infinite both;
}
.pre-box1, .pre-box2 {
    height: 15px;
    width: 11px;
    position: absolute;
    top: -5px;
    overflow: hidden;
}

.pre1, .pre2 {
    width: 14px;
    height: 5px;
    position: absolute;
    box-shadow: 1px -1px 1px #646464;
    top: 5px;
    border-radius: 2px;
    background-color: #fff;
}

.pre1 {
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    left: 1px;
}

.pre2 {
    left: -4.5px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.pre-box2 {
    left: 10px;
}

.music {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1111;
    background: url(../img/music_off_8d94020.png) no-repeat;
    background-size: cover;
    opacity: 1;
}
.musicMove {
    opacity: 1;
    animation: move 1s infinite linear both;
    -webkit-animation: move 1s infinite linear both;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

